/* Dark Mode Styles */

.root {
    -fx-base: #333333; /* Base color for controls */
}

/* MenuBar styles */
.menu-bar {
    -fx-background-color: #292929;
}

.menu {
    -fx-text-fill: #ffffff;
}

.menu-item {
    -fx-border-color: #444444; /* Subtle border color */
    -fx-border-width: 1px;
    -fx-padding: 5 10 5 10; /* Adjust padding as needed */
}

/* Button styles */
.button {
    -fx-background-color: #8c8c8c;
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
.button:hover {
    -fx-background-color: #b2abab;
}

.renderButtonPressed{
    -fx-alignment: center;
    -fx-background-color: #e82e2e;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}
.renderButtonPressed:hover{
    -fx-background-color: #ff8787;
}

/* TextField styles */
.text-field {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
}

/* Text styles */
.text {
    -fx-fill: #ffffff;
}