/* Light Mode Styles */

.root {
    -fx-base: #ececec; /* Base color for controls */
}

/* MenuBar styles */
.menu-bar {
    -fx-background-color: #d7d7d7;
}

.menu {
    -fx-text-fill: #333333;
}

.menu-item {
     -fx-border-color: #d0d0d0; /* Subtle border color */
     -fx-border-width: 1px;
     -fx-padding: 5 10 5 10; /* Adjust padding as needed */
 }

/* Button styles */
.button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #333333;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #bbbbbb;
}


/* TextField styles */
.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

/* Text styles */
.text {
    -fx-fill: #333333;
}
